<div layout="row" layout-xs="column" layout-fill>
  <div flex="initial" class="md-whiteframe-3dp list" ng-hide="$ctrl.hostelService.isEmpty()">
    <hostel-list></hostel-list>
  </div>
  <div flex class="detail-view-container">
    <div class="detail-view" ui-view>
      <div class="select-a-hostel hide-xs" ng-hide="$ctrl.hostelService.isEmpty()">
        <div class="arrow"></div>
        <span class="text">Select a hostel</span>
      </div>
      <div class="add-a-hostel">
        <div class="arrow"></div>
        <span class="text">Add a hostel</span>
      </div>
    </div>
  </div>
</div>

<div class="add-hostel-btn">
  <md-button class="md-fab md-primary" ui-sref="home.hostelCreate" aria-label="create hostel">
    <md-icon>add</md-icon>
  </md-button>
</div>
